<div class="container">

	<div class="col-md-16">
		<div class="panel panel-info">
			<div class="panel-heading">Query detail</div>
			<div class="panel-body">

				<form class="form-horizontal">

					<div class="form-group">
						<label class="control-label col-xs-1" for="inputName">Name:</label>

						<div class="col-xs-3">
							<input type="text" id="inputName" class="form-control" ng-model="user.name" />
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-xs-1" for="inputDescription">Description:</label>

						<div class="col-xs-3">
							<input type="text" id="inputDescription" class="form-control" ng-model="user.description" />
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-xs-1" for="inputDefinition">definition:</label>
						<div class="col-xs-9">
							<textarea rows="12" class="form-control" id="inputDefinition" ng-model="user.definition"></textarea>

						</div>
					</div>

					<br>
					<div class="form-group">
						<div class="col-xs-offset-2 col-xs-9">
							<input type="submit" ng-click="updateQuery()"
								class="btn btn-primary" value="update query">
								 <input ng-click="cancel()" type="submit" class="btn btn-default" value="Back">
						</div>
					</div>

				</form>
			</div>

		</div>
	</div>

</div>
